[Unit]
Description=JBoss EAP Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ jboss_eap_svc_user }}
ExecStart={{ jboss_eap_home }}/bin/init.d/jboss-eap-rhel.sh start
ExecStop={{ jboss_eap_home }}/bin/init.d/jboss-eap-rhel.sh stop

[Install]
WantedBy=multi-user.target