JBOSS_HOME="{{ jboss_eap_home }}"
JBOSS_USER=jboss
JBOSS_MODE=standalone
JBOSS_CONFIG=standalone-full.xml
JBOSS_CONSOLE_LOG="{{ jboss_eap_home }}/standalone/log/console.log"
JBOSS_OPTS="-Djboss.bind.address.management={{ jboss_bind_address }} -Djboss.bind.address={{ jboss_bind_address }}"