embed-server --server-config=standalone-full.xml

    /core-service=management/security-realm=CertificateRealm:add()
    /core-service=management/security-realm=CertificateRealm/server-identity=ssl:add(alias="{{ ca_signed_cert_alias }}",keystore-password={{ storepass }}, keystore-path="{{ keystore }}")
    /core-service=management/security-realm=CertificateRealm/authentication=truststore:add(keystore-path="{{ keystore }}",keystore-password={{ storepass }})
    /subsystem=undertow/server=default-server/https-listener=https:remove
    /subsystem=undertow/server=default-server/https-listener=https:add(security-realm=CertificateRealm, secure=true, socket-binding=https,enabled-protocols="TLSv1.1,TLSv1.2")
    
stop-embedded-server