embed-server --server-config=standalone-full.xml

    /interface=public/:write-attribute(name=inet-address,value={{  inventory_hostname }})
    /interface=management/:write-attribute(name=inet-address,value={{ jboss_bind_address }})
    /interface=unsecure/:write-attribute(name=inet-address,value={{ jboss_bind_address }})
    /socket-binding-group=standard-sockets/socket-binding=http:write-attribute(name=port, value={{ jboss_http_port }})
    /socket-binding-group=standard-sockets/socket-binding=https:write-attribute(name=port, value={{ jboss_https_port }})
    /socket-binding-group=standard-sockets:write-attribute(name=port-offset, value={{ jboss_socket_binding_port_offset }})

stop-embedded-server