<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

<!-- <proxies>
    <proxy>
      <id>example-proxy</id>
      <active>true</active>
      <protocol>http</protocol> OR <protocol>https</protocol>
      <host>proxyHost</host>
      <port>3128</port>
      <username>username</username>
      <password>password</password>
    </proxy>
  </proxies> -->

  <servers>
    {% if maven_enterprise_repo_pwd is defined and maven_enterprise_repo_user is defined %}
    <server>
      <id>jboss-enterprise-maven-repository</id>
      <username>{{ maven_enterprise_repo_user }}</username>
      <password>{{ maven_enterprise_repo_pwd }}</password>
    </server>
    {% endif %}
    {% if maven_local_repo_pwd is defined and maven_local_repo_user is defined %}
    <server>
      <id>local-repository</id>
      <username>{{ maven_local_repo_user }}</username>
      <password>{{ maven_local_repo_pwd }}</password>
    </server>
    {% endif %}
  </servers>

  <mirrors>
    {% if maven_enterprise_repo_url is defined %}
    <mirror>
      <id>central-mirror</id>
      <name>Maven Central Mirror</name>
      <url>{{ maven_enterprise_repo_url }}</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    {% endif %}
  </mirrors>

  <profiles>
    <!-- Configure the JBoss Enterprise Maven repository -->
    <profile>
      <id>jboss-enterprise-maven-repository</id>
      <repositories>
        <repository>
          <id>jboss-enterprise-maven-repository</id>
          <url>{{ maven_enterprise_repo_url }}</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-enterprise-maven-repository</id>
          <url>{{ maven_enterprise_repo_url }}</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

     <!-- Configure a local Maven repository -->
    <profile>
      <id>local-repository</id>
      <repositories>
        <repository>
          <id>local-repository</id>
          <url>{{ maven_local_repo_url | default('empty') }}</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>jboss-enterprise-maven-repository</activeProfile>
    {% if maven_local_repo_url is defined %}
    <activeProfile>local-repository</activeProfile>
    {% endif %}
  </activeProfiles>

</settings>