embed-server --server-config=standalone-full.xml

    if (outcome != "success") of /system-property=kie.maven.settings.custom:read-resource
        /system-property=kie.maven.settings.custom:add(value="{{  maven_settings_xml_path }}")
    end-if

stop-embedded-server